# Mandatory:
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxx
VECTOR_STORE_ID=vs_xxxxxxxxxxxxxxxxxxxx


## Optional:
# The OpenAI model to use if you want to run `ask.py`
OPENAI_MODEL=

# The base URL for your Zendesk instance
ZENDESK_BASE_URL=

# The maximum number of articles to fetch or process
MAX_ARTICLES=

# The search query keyword used to filter data (i used to get docs for sample answer)
SEARCH_QUERY=

# The maximum number of retry attempts for failed requests
MAX_RETRY_ATTEMPTS=

# The size of each text chunk in tokens
CHUNK_SIZE_TOKENS=
# The overlap between consecutive text chunks in tokens
CHUNK_OVERLAP_TOKENS=




MORE:
- `OPENAI_MODEL` — The OpenAI model to use if you want to run `ask.py`.
- `ZENDESK_BASE_URL` — The base URL for your Zendesk instance.
- `MAX_RETRY_ATTEMPTS`=5 — The maximum number of retry attempts for failed requests.
- `MAX_ARTICLES`=30 — The maximum number of articles to fetch or process.
- `SEARCH_QUERY`=Youtube — The search query keyword used to filter data (i used to get docs for sample answer).

